.button{
    max-width: 600px ;
    background-color: var(--red-900);
    border: 0;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: var(--white);
    transition: 0.2s;

    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }
    &:hover{
        filter: brightness(1.50)
    }
}

.buttonText{
    color:var(--white)
}

@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

