@import url('https://fonts.googleapis.com/css2? family = Lato & family = Noto + Sans + JP & family = Open + Sans & family = Roboto: wght @ 300 & display = swap' ); 

*{
    font-family: Roboto, sans-serif;
    color: rgb(33, 33, 33);
}
body{
   background-color: aliceblue; 
   margin: 0;
   padding:0;
}
h1,h2{
    text-transform: uppercase ;
}

#app{
    padding: 50px;
}

input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(1, 255, 213);
    border-radius: 7px;
    width: 250px;
}

form button{
    background: rgb(0, 174, 255);
    padding: 8px 12px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 8px;
}

#tarefas button{
    background: transparent;
    font-size: 14px;
    border: 0;
    color: red;
    text-transform: uppercase;
}