*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: 0;
}
:root{
    --white: #fff;
    --black: #000;

    --dark-900: #101026;
    --dark-700: #1d1d2e;

    --gray-100: #8a8a8a;
    --green-900: #3fffa3;
    --red-900: #ff3f4b;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    background-color: var(--dark-700);
}

body, input, textarea, select, button{
    font:400, 1rem sans-serif;
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

@media (max-width: 1080){
    html{
        font-size: 93.75%;
    }
}