.containerCenter{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: var(--dark-900);
}

.login{
  margin-top: 24px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 16px;
  width: 600px;

  form{
    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }

  form button{
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s
  }

  form button:hover{
    transform: scale(1.02);
  }

  h1{
    color: var(--white);
    font-family: sans-serif;
  }
}

.input{
  height: 40px;
  border: 1px solid var(--gray-100);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--dark-900);
  color: var(--white);
}

.text{
  color: var(--white);
  text-decoration: none;
}

.input::placeholder{
  color: rgb(189, 189, 189);
}

@media (max-width: 620px){
  .login{
    width: 90%;
  }
}